<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true"
          name="C:/Users/biju.unnikrishnan/IdeaProjects/Practice/src/test/java/Practice_01">
        <classes>
            <class name="Practice_01.Selenium04">
                <methods>
                    <include name="testNegative"/>
                    <include name="testPositive"/>
                </methods>
            </class>


        </classes>
    </test>
</suite>